bot:
    token: 'MyTelegramTokenFromBotFather'
    proxy:
        protocol: socks5
        username: ProxyUser
        password: ProxyUserPass
        host: 8.8.8.8
        port: 443
parking_camera:
    ip: 8.8.8.8
    port: 80
    username: CameraUser
    password: CameraUserPass # in my case in base64
